<h1>Hello, {{ student }}!</h1>
<strong>Bellow is the answer for your order:</strong>
<p>
  <strong>Question: </strong> {{ question }} <br />
  <strong>Answer: </strong> {{ answer }} <br />
</p>
<small>
  If you have any more questions, let us know!
</small>
