<h1>Hello, we have a support request!</h1>
<p>
  <strong>Name: </strong> {{ student }} <br />
  <strong>Question: </strong> {{ question }} <br />
  <strong>Date: </strong> {{ date }} <br />
</p>
<small>
  Our students define us!
</small>
